.lrd_arrowIndicator {
	position: absolute;
	right: -10px;
	bottom: -10px;
	width: 24px;
	height: 24px;
}

.lrd_neutralIndicator {
	position: absolute;
	right: -20px;
	bottom: -20px;
	width: 36px;
	height: 36px;
}

.lrd_unknownIndicator {
	position: absolute;
	right: -20px;
	bottom: -20px;
	width: 42px;
	height: 42px;
}
