.dora-tooltip {
  background-color: black;
  border: 2px solid grey;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: #AAA;
  height: fit-content;
}

.dora-tooltip-header h3 {
  font-size: 16px;
  margin: 0;
  color: #AAA;
}

.dora-tooltip-body p {
  font-size: 14px;
  color: #AAA;
  margin: 8px 0 0;
}

.dora-tooltip-footer {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.dora-profile-image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.dora-tooltip-footer span {
  font-size: 14px;
  color: #AAA;
}

.dora-tooltip-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #AAAAAA33;
  border-radius: 10px;
  padding: 10px;
}
