.chart-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toolTipLink {
  padding-left: 2px;
  padding-right: 2px;
  text-decoration-color: greenyellow;
  color: greenyellow
}

.toolTipList {
  padding-left: 20px;
  margin: 2px;
}

.toolTipList li {
  text-indent: -5px;
}

.toolTipSpan {
  margin-left: 10px;
}

.chartTooltip {
  border-radius: 10px;
  max-width: 300px;
  padding: 10px;
  z-index: 100;
  background-color: #000000;
}

.chartTooltipArrow {
}
