:root {
  --react-dora-charts-primary-color: #000000;
  --react-dora-charts-background-color: #ffffff;
  --react-dora-charts-text-color: #333333;
  --react-dora-charts-link-color: darkgreen;
}

[data-theme='dark'] {
  --react-dora-charts-primary-color: #ffffff;
  --react-dora-charts-background-color: #000000;
  --react-dora-charts-text-color: #dddddd;
  --react-dora-charts-link-color: greenyellow;
}

[data-theme='light'] {
  --react-dora-charts-primary-color: #000000;
  --react-dora-charts-background-color: #ffffff;
  --react-dora-charts-text-color: #333333;
  --react-dora-charts-link-color: darkgreen;
}