/* Hide arrows in WebKit browsers (Chrome;
  Safari) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.editorFieldContainer {
  flex: 1 0 48%;
  box-sizing: border-box;
  margin: 5px;
}

.editorSplit {
  flex-basis: 100%;
  height: 0;
  margin: 0;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--react-dora-charts-text-color);
  flex-wrap: wrap;
}

.editorFieldContainer > :first-child {
  color: var(--react-dora-charts-text-color);
  font-weight: bold;
}

.editorMetricInput {
  width: 30px;
}

.graphContainer {
  height: 200px;
  width: 600px;
}
